In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/celsocrivelaro/simple-datasets/main/diabetes2.csv", sep="\t")

In [4]:
df

     AGE  SEX   BMI      BP   S1     S2    S3    S4      S5   S6    Y
0     59    2  32.1  101.00  157   93.2  38.0  4.00  4.8598   87  151
1     48    1  21.6   87.00  183  103.2  70.0  3.00  3.8918   69   75
2     72    2  30.5   93.00  156   93.6  41.0  4.00  4.6728   85  141
3     24    1  25.3   84.00  198  131.4  40.0  5.00  4.8903   89  206
4     50    1  23.0  101.00  192  125.4  52.0  4.00  4.2905   80  135
..   ...  ...   ...     ...  ...    ...   ...   ...     ...  ...  ...
437   60    2  28.2  112.00  185  113.8  42.0  4.00  4.9836   93  178
438   47    2  24.9   75.00  225  166.0  42.0  5.00  4.4427  102  104
439   60    2  24.9   99.67  162  106.6  43.0  3.77  4.1271   95  132
440   36    1  30.0   95.00  201  125.2  42.0  4.79  5.1299   85  220
441   36    1  19.6   71.00  250  133.2  97.0  3.00  4.5951   92   57

[442 rows x 11 columns]

In [9]:
df_X = df[["AGE", "SEX", "BMI", "BP", "S1", "S2", "S3", "S4", "S5", "S6"]]
df_Y = df[["Y"]]

# separar dataset de treinamento e testes
from sklearn.model_selection import train_test_split

X_treinamento, X_testes, Y_treinamento, Y_testes = train_test_split(df_X, df_Y, test_size=0.2)
# create test and train samples

# sklearn = testar modelos

In [11]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

reg.fit(X_treinamento, Y_treinamento)
reg.coef_

Y_pred = reg.predict(X_testes) # y chapeu

In [12]:
from sklearn.metrics import r2_score

r2_score(Y_testes, Y_pred)

0.5059322029693203

In [13]:
X_testes.head(1)

     AGE  SEX   BMI    BP   S1     S2    S3   S4      S5  S6
378   53    2  26.6  93.0  185  122.4  36.0  5.0  4.8903  82

In [14]:
reg.predict(X_testes.head(1))

array([[161.10115835]])

In [16]:
Y_testes.head(2)

       Y
378  245
240  275